#navigation {
    display: flex;
}
#side_bar {
    position: fixed;
    right: 2%;
}
#main {
    margin: 1% 3% 0 1%;
    font-size: 2rem;
}
#content {
    display: grid;
    grid-template-columns: 75% 25%;
}
#main_article {
    margin: 2%;
}
#main_image {
    width: 80%;
}
.topic {
    margin: 2rem;
    text-decoration: none;
}
.topic:hover {
    text-decoration: underline;
}
.sideBarArticles {
    height: 15rem;
    width: 15rem;
    margin: 2%;
}
.sideBarImg {
    height: 10rem;
}
.weather {
    padding: 1%;
}