#navigation {
    display: flex;
}
#side_bar {
    position: fixed;
    right: 2%;
}
.topic {
    margin: 1rem;
    text-decoration: none;
}
.topic:hover {
    text-decoration: underline;
}
.sideBarArticles {
    height: 15rem;
    width: 15rem;
    margin-left: 83%;
}
.sideBarImg {
    height: 10rem;
}